<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Uber Ritz</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
</head>
<body background ="background.jpeg">
	<h1 style="margin-left: 50px; margin-top:40px;font-size:80px;">Uber <span style="color: #ff9900;">Ritz</span></h1>
	
	<div class="d-grid gap-5 d-md-flex justify-content-md-end">
	  <a href="index"> 
	  <button style="background-color : Transparent; margin-left: 70px;" >Accueil</button></a>
	  <a href="midisoir"> 
	  <button style="background-color : Transparent; margin-left: 70px;" >Menu</button></a>
	  <a href="login"> 
	  <button style="background-color : Transparent; margin-left: 70px; margin-right: 30px;">Connexion</button></a>
	</div>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="d-grid gap-5 d-md-flex justify-content-md-center" style="font-size : 40px;">
	  <a href="https://www.google.com"> 
	  <button style="background-color : #ff9900; margin-left: 70px; height:100px;width:200px;" >Midi</button></a>
	  <a href="https://www.youtube.com"> 
	  <button style="background-color : #ff9900; margin-left: 70px; height:100px;width:200px;" >Soir</button></a>
	
	</div>
</body>
</body>
</html>
